@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.header{
    display: flex;
    height: 200px;
    /*background-color: #1e272e;*/
    background-position-y: -45%;
    background-size: 100%;
    box-shadow: 0.5px 1px 1px #61DAFB;
    color: white;
    font-family: 'Lato', sans-serif;
}

.header-title-and-icon{
    display: flex;
    align-items: center;
}

.header-title-and-icon h1{
    font-weight: 900;
    transition: all 300ms;
}

.header-logo{
    height: 100px;
    animation: rotation 4s infinite linear;
}

.header-category-sections{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-category-sections p{
    margin-right: 30px;
    font-size: 25px;
    margin-top: 15px;
    transition: all 300ms;
    font-weight: 900;
}

.header-category-sections p:after,
.header-title-and-icon h1:after
{
    display:block;
    content: '';
    border-bottom: solid 3px #61DAFB;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.header-title-and-icon h1:after
{ transform: scaleX(1); }

.header-category-sections p:hover:after,
.header-title-and-icon h1:hover:after
{ transform: scaleX(1); }

.header-category-sections p:after,
.header-title-and-icon h1:after
{  transform-origin:  0% 50%; }



.header-category-sections p a{
    text-decoration: none;
    color: white;
}

@media(max-width: 768px){
    .header{
        background-position-y: 100%;
        flex-wrap: wrap;
        height: 200px;
    }

    .header-title-and-icon{
        justify-content: center;
        margin-left: -25px;
    }

    .header-logo{
        height: 70px;
    }

    .header-category-sections{
        justify-content: space-evenly;
        margin-top: -50px;
        margin-left: 20px;
    }
}

@media(max-width: 575px){
    .header-title-and-icon{
        width: 100%;
    }
    .header-category-sections{
        width: 100%;
    }
}